.main_div{
    margin: 1vw;
    margin-left: 1vw;
}
.sub_div{
    font-size: 1.7vw;
    font-weight: bold;
    padding: 1vw;
}
.option_div{
    margin-left: 2vw;
}
.options{
    padding: 1vw;
    font-size: 1.5vw;
}
.options input[type="radio"]{
  font-size: 20vw !important;
}

.quiz_heading{
    margin-left: 2vw;
    color: brown;
    text-transform: uppercase;
    text-decoration: underline;
}
#submit_btn{
    margin-left: 2vw;
    margin-bottom: 2vw;
    font-size: 1.5vw;
    padding: 0.7vw;
    background-color: #004777;
}
.main_div_component{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-left: 5vw;
}
h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 40px;
  }
  
  .timer-wrapper {
    display: flex;
    position: fixed;
    margin-left: 70vw;
  }
  
  .timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text {
    color: #aaa;
  }
  
  .value {
    font-size: 40px;
  }
  
  .info {
    max-width: 360px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px;
  }
  
